#logo {
    max-width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin: 3em;
}

    /* Alla direkta barn till content ska ha padding.
     * Det ger alla kolumner lite mer fluff.
     * Good stuff.
     * Iz beauty.
     */
    #content>div {
        padding: 1em;
        box-sizing: border-box; /* <3 http://quirksmode.org/css/user-interface/boxsizing.html */
    }
