<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Datateknologsektionen Chalmers - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
          <a href="/"><img src="images/Datalogo.svg" alt="Datateknologsektionens snygga logga"></a>
      </div>
      <div id="navigation">
        <a href="/">Home</a>
        <a href="/contact.html">Contact</a>
        <a href="/archive.html">Archive</a>
      </div>
    </div>

    <div id="content">
      <h1>$title$</h1>

      $body$
    </div>
  </body>
</html>
